[Unit]
Description=Entropy daemon using the HAVEGE algorithm
Documentation=man:haveged(8) http://www.issihosts.com/haveged/
DefaultDependencies=no
ConditionVirtualization=!container
After=local-fs.target
#Before=cups.service systemd-logind.service ondemand.service wpa_supplicant.service accounts-daemon.service e2scrub_reap.service grub-common.service systemd-resolved.service zram-config.service upower.service rsyslog.service NetworkManager.service grub-initrd-fallback.service irqbalance.service snapd.service 

[Service]
EnvironmentFile=-/etc/default/haveged
ExecStart=/usr/sbin/haveged --Foreground --verbose=1 $DAEMON_ARGS
SuccessExitStatus=143
SecureBits=noroot-locked
NoNewPrivileges=yes
CapabilityBoundingSet=CAP_SYS_ADMIN
PrivateTmp=yes
PrivateDevices=yes
PrivateNetwork=yes
ProtectSystem=full
ProtectHome=yes
CPUSchedulingPolicy=rr
CPUSchedulingPriority=70
LimitRTPRIO=71
LimitRTTIME=infinity
IOSchedulingClass=1
IOSchedulingPriority=0

[Install]
WantedBy=default.target
